body {
    font-family: 'Buenard', sans-serif;font-size: 22px;
}
.topnav {background-color: darkcyan;
overflow: hidden;}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 26px;
    font-size: 20px;
}

.topnav a:hover {
    background-color:white;
    color: black;
  }
  .topnav a.active {
    background-color:tan  ;
    color: white;
  }

  h1 {
text-align: center
;font-weight:bold;}

.title::after {content: ""; display: block; margin: 0 auto; width: 75%; padding-top:20px;
    border-bottom: 5px solid teal}

.title {color:tan ;}


article {margin-top: 30px;
    margin-right: 20%;
line-height: 30px;}

.intro {display:flex}

#mypic {margin: 5% 20% 0 0;
    border-radius: 20%;
    float: right;
    
    }
    


